---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Demo from "../components/Demo.astro";
import Capabilities from "../components/Capabilities.astro";
import Commands from "../components/Commands.astro";
import Faq from "../components/Faq.astro";
import End from "../components/End.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="page">
    <Header />
    <Hero />
    <HowItWorks />
    <Demo />
    <Capabilities />
    <Commands />
    <Faq />
    <End />
    <Footer />
  </div>
</Layout>
